#order-done.uk-flex-top(data-uk-modal='bg-close: false')
    .uk-modal-dialog.order-done-modal.uk-modal-dialog.uk-margin-auto-vertical
        .order-done-modal__header
            .order-done-modal__title
                | спасибо!
                br
                | ваш заказ № 256-820
        .order-done-modal__body
            p Мы получили Ваш заказ.
                br
                | В ближайшее время менеджеры
                br
                | свяжутся с Вами для уточнения деталей.
        .order-done-modal__footer
            +button('dark', true)(href='/')
                | продолжить покупки
