.button {
    --dark: #343434;
    font-family: $font-family-base-medium;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    font-size: rem(14px);
    padding: rem(13px);
    text-align: center;
    line-height: normal;
    border: 1px solid #000000;
    white-space: nowrap;
    &--link.button {
        display: block;
    }
    &--default.button {
        color: #000000;
        &:hover {
            color: #000000;
        }
    }
    &--no-border.button {
        border: none;
    }
    &--dark.button {
        background-color: var(--dark);
        color: #ffffff;
        border-color: var(--dark);
        line-height: 1.174;
        &:hover {
            color: #ffffff;
        }
    }

    &.uk-active {
        background-color: var(--dark);
        color: #ffffff;
        border-color: var(--dark);
        &:hover {
            opacity: 1;
        }
    }
    &--brand.button {
        background-color: var(--brand-color);
        border-color: var(--brand-color);
        color: #121212;
        line-height: 1.174;
        &:hover {
            color: #121212;
        }
    }

    &.sm {
        font-family: $font-family-base;
        letter-spacing: 0;
        padding: rem(8px) rem(12px);
    }
    &.lg {
        font-size: rem(16px);
        padding: rem(25px) rem(13px);
        @include media('max', 'lg') {
            font-size: 12px;
            padding: 12px;
        }
    }
    &.no-padding {
        padding: 0;
    }
}
