include ../_components/data
include ../mixins/_helpers
-
  var site = {
    title: 'clothing-store',
    description: 'Описание сайта clothing-store',
  }

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport")
  meta(name='description' content= site.description)
  meta(name='keywords' content='keywords')
  meta(content="yes" name="apple-mobile-web-app-capable")

  title= site.title

//-   meta(name='viewport' content='width=device-width, initial-scale=1.0')
