script(src="/libs/js/uikit.min.js")
script(src="/libs/js/uikit-icons.min.js")
script(src="/libs/js/jquery-3.7.1.js")
script(src="/libs/js/scrollspy.min.js")
script(src="/libs/js/chosen.min.js")
script(src="/libs/js/lazyload.min.js")
script(src="/libs/js/jquery.zoom.min.js")
script(src="/libs/js/imask.min.js")
script(src="/libs/js/filepond.min.js")
script(src="/libs/js/filepond.poster.min.js")
script(src="/libs/js/custom.js")
