$color-bg-baner: rgba(250, 247, 240, 1);
$color-btn: rgb(52, 52, 52);
$color-dark-text: rgb(0, 0, 0);
$color-ligth-text: rgb(255, 255, 255);
$main-bg: rgb(245, 245, 245);
$color-baner-woman: rgb(246, 229, 209);
$color-card: rgb(251, 247, 240);
$color-card-mobile: rgb(247, 247, 247);
$color-text-gray: rgb(119, 119, 119);
$color-text-gray-second: rgb(118, 118, 118);
$color-line: rgb(176, 176, 176);
$color-tab: rgb(39, 40, 45);
$color-price-old: rgb(151, 151, 151);
$color-footer-line: rgb(224, 224, 224);
$color-active-category: rgb(255, 63, 63);
$color-border-breadcrumbs: rgb(221, 221, 221, 1);
$color-sold: rgba(233, 233, 233, 1);
$color-login-title: rgba(77, 77, 77, 1);
$color-login-link-info: rgba(171, 171, 171, 1);
$color-disable-button: rgba(235, 235, 235, 1);
$color-error-form: rgba(255, 95, 0, 1);
$color-gray-span: rgb(184, 184, 184);
$color-filter-found: rgba(217, 217, 217, 1);
$color-overlay: rgba(0, 0, 0, .6);
$color-dark-text: rgba(0, 0, 0, 1);



$font-family-base: "Raleway", sans-serif;
$font-family-base-medium: "Raleway-Medium", sans-serif;
$font-family-base-semibold: "Raleway-SemiBold", sans-serif;
$font-family-base-bold: "Raleway-Bold", sans-serif;
$font-family-canela-thin: "CanelaLCWebThin", sans-serif;
$font-family-canela-ligth: "CanelaLCWebLght", sans-serif;
$font-family-cormorant: "Cormorant", sans-serif;
$font-family-cormorant-medium: "Cormorant-Medium", sans-serif;
$font-family-cormorant-unicase: "CormorantUnicase-Regular", sans-serif;
$font-family-cormorant-unicase-light: "CormorantUnicase-Light", sans-serif;
$font-family-cormorant-unicase-medium: "CormorantUnicase-Medium", sans-serif;
$font-family-cormorant-unicase-bold: "CormorantUnicase-Bold", sans-serif;

$container-width: rem(1194px);

$sizes: (
    'xs': 320px,
    'sm': 575px,
    'md': 767px,
    'lg': 991px,
    'xl': 1200px,
);
