.modal-wrap
    //- include modals/menu/menu-clothes
    //- include modals/menu/menu-sale
    //- include modals/menu/menu-new
    //- include modals/menu/menu-brands
    include modals/global-search/global-search
    include modals/authentication/authentication


