extends ../templates/layout
include ../mixins/_image
include ../mixins/_link-button
include ../mixins/_title
include ../mixins/_offers-card
include ../mixins/_breadcrumbs
include ../mixins/_pagination
include ../mixins/_filterCatalog


block main
    section.section.upper.category-upper
        .row.upper__wrapp.category-upper__wrapp
            .col-12.col-lg-6.px-0
                +image('bottega_veneta-upper.jpg', 600, 340, 'd-block upper__image')
                +title('h2', 'Bottega Veneta', 'd-block d-lg-none upper__title upper__title_mobile')
            .d-none.d-lg-flex.col-12.col-lg-6.mt-5.mt-lg-0.upper__rigth-block
                +title('h2', 'Bottega Veneta', 'upper__title category-upper__title')
                p Поднимите свой образ с помощью кроссовок, каблуков, ботинок и сапог от Bottega Veneta
    +breadcrumbs('199 товаров', 'breadcrumb-catalog-category', 'Главная', 'Бренды', 'Bottega Veneta')
    +filterCatalog('', 'true')
    section.catalog-category-grid.botega-catalog
        ul.pb-lg-4.catalog-grid.botega-catalog-grid
            each categoryItem, i in botegaVenetaLists
                +offersCard(categoryItem, i)
        .row.upper.category-baner
            .d-none.d-lg-block.col-lg-6.px-0
                +image('classic-shoues.jpg', 600, 340, 'upper__image')
            .d-none.d-sm-block.d-lg-none.col-12.px-0
                +image('trend-img.jpg', 600, 340, 'category-baner__image')
            .d-block.d-sm-none.col-12.px-0
                +image('trend-img-mobile.jpg', 320, 130, 'category-baner__image')
            .col-12.col-lg-6.upper__rigth-block.category-baner__rigth-block
                +title('h2', 'Скидки на классику', 'category-baner__title')
                p Наша визитная карточка – радовать покупателей обувью лучшего качества и по доступной цене.
                +linkButton('#', 'купить', 'category-baner__button')
        ul.pb-lg-4.catalog-grid.catalog-grid_second.catalog-category-grid__second
            each categoryItem, i in categoryLists
                +offersCard(categoryItem, i)
        +pagination(52)
    section.section.commission.category-commission
            +title('h2', 'Брендовые вещи Bottega Veneta (Ботега Венета)', 'px-4 px-lg-0')
            .row.commission__desc-wrapp
                p
                    | Чем отличается одежда известных брендов от масс-маркета?
                    | Конечно, безупречным кроем, качественными материалами и оригинальным стилем.
                    | Регулярно обновлять гардероб в брендовых магазинах и аутлетах бывает довольно накладно, здесь на помощь придет комиссионный бутик NewLife.
                p.d-none.js-display-block
                    | Магазин брендовой одежды Ньюлайф стал флагманским местом,
                    | буквально Resale store №1 в России, где можно удачно купить или выгодно продать одежду, обувь и аксессуары самых популярных марок,
                    | включая Patrizia Pepe, Philipp Plein, Louis Vuitton, Kiton, Chanel, Abercrombie&Fitch,
                    | Baldinini, Escada, Max Mara, Prada, Brunello Cucinelli, Dior, Fendi, Hermes, Moshino или Testoni.
                    | Эксклюзивная особенность бутика – шубный зал, где представлены меховые изделия в идеальном состоянии.
            +linkButton('', 'читать дальше', 'commission__link')
