aside.card-banner
    .card-banner__content
        .card-banner__top
            +icon('check', 40, 40).card-banner__icon
            .card-banner__text
                span.card-banner__title Лучшие условия при перепродаже
                    +icon('info', 18, 18)(data-uk-tooltip="title: Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum similique rem deserunt iusto, culpa quis beatae perspiciatis;")
                | В течении 6 месяцев гарантированно заберем обратно по сниженной комиссионной ставке
