aside.card-banner
    .card-banner__content.card-banner__content--light-brand-color
        .card-banner__top
            +icon('check', 28, 28).card-banner__icon
            .card-banner__text
                span.card-banner__title Твой кошелёк - твоя выгода
                    +icon('info', 18, 18)(data-uk-tooltip="title: Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum similique rem deserunt iusto, culpa quis beatae perspiciatis;")
                | Узнай о преимуществах кошелька и начинай пользоваться им уже сейчас
        +button('brand', true)
            | открыть кошелек
