aside.card-banner
    .card-banner__content.card-banner__content--light-brand-color
        .card-banner__top
            .card-banner__text
                span.card-banner__title Вещь продана. Хотите такую же?
                | Добавьте ее в Search List и наши специалисты постараются найти вам точно такую же!
        +button('brand', true)
            | добавить в search list
