aside.card-banner
    .card-banner__content.card-banner__content--light-brand-color
        .card-banner__top
            +icon('check', 28, 28).card-banner__icon
            .card-banner__text
                span.card-banner__title NewLife.Moda Клуб
                    +icon('info', 18, 18)(data-uk-tooltip="title: Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum similique rem deserunt iusto, culpa quis beatae perspiciatis;")
                | Воспользуйся преимуществами участия в клубной программе, узнай о нашем магазине и процессе экспертной оценки вещей
        +button('brand', true)
            | Вступить в клуб
