aside.banner
    .banner__content.banner__content--light-brand-color
        .banner__top
            +icon('trade', 30, 30).banner__icon
            .banner__text
                .banner__title
                    span Плати меньше с Trade-in
                    +icon('info', 18, 18)(data-uk-tooltip="title: Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsum similique rem deserunt iusto, culpa quis beatae perspiciatis;")

        +button('default', true)(href='#trade-in-group-1' data-uk-toggle='')
            | TRADE-IN
