@font-face {
    font-family: 'CanelaLCWebThin';
    src: local('CanelaLCWebThin'),
        url('../fonts/CanelaLCWebThin.woff2') format('woff2'),
        url('../fonts/CanelaLCWebThin.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CanelaLCWebLght';
    src: local('CanelaLCWebLght'),
        url('../fonts/CanelaLCWebLght.woff2') format('woff2'),
        url('../fonts/CanelaLCWebLght.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant-Regular'),
        url('../fonts/Cormorant-Regular.woff2') format('woff2'),
        url('../fonts/Cormorant-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cormorant-Bold';
    src: local('Cormorant-Bold'),
        url('../fonts/CormorantUnicase-Bold.woff2') format('woff2'),
        url('../fonts/CormorantUnicase-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant-Medium';
    src: local('Cormorant-Medium'),
        url('../fonts/Cormorant-Medium.woff2') format('woff2'),
        url('../fonts/Cormorant-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantUnicase-Regular';
    src: local('CormorantUnicase-Regular'),
        url('../fonts/CormorantUnicase-Regular.woff2') format('woff2'),
        url('../fonts/CormorantUnicase-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantUnicase-Light';
    src: local('CormorantUnicase-Light'),
        url('../fonts/CormorantUnicase-Light.woff2') format('woff2'),
        url('../fonts/CormorantUnicase-Light.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CormorantUnicase-Medium';
    src: local('CormorantUnicase-Medium'),
      url('../fonts/CormorantUnicase-Medium.woff2') format('woff2'),
      url('../fonts/CormorantUnicase-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'CormorantUnicase-Bold';
    src: local('CormorantUnicase-Bold'),
      url('../fonts/CormorantUnicase-Bold.woff2') format('woff2'),
      url('../fonts/CormorantUnicase-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: 'Raleway';
    src: local('Raleway-Regular'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: local('Raleway-Medium'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: local('Raleway-SemiBold'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: local('Raleway-Bold'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
